<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="confModule" >
	
	<resultMap id="ConfResultMap" type="com.bupt.termdemo.model.Conf" >
	    <result column="id" property="id" jdbcType="VARCHAR" />
	    <result column="configuration" property="configuration" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="getConf" resultType="String">
		select configuration from conf where id = '1'
	</select>
	
	<update id="setConf" parameterType="String">
		update conf
		set configuration = #{configuration}
		where id = '1'
	</update>
	
</mapper>