<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="logModule" >
	
	<resultMap id="LogResultMap" type="com.bupt.termdemo.model.Log" >
	    <result column="log_time" property="log_time" jdbcType="VARCHAR" />
	    <result column="oper_user" property="oper_user" jdbcType="VARCHAR" />
	    <result column="operation" property="operation" jdbcType="VARCHAR" />
	    <result column="oper_term" property="oper_term" jdbcType="VARCHAR" />
	</resultMap>
	
</mapper>