<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="magazineModule" >
	
	<resultMap id="MagazineResultMap" type="com.bupt.termdemo.model.Magazine" >
	    <result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="ListAll" resultMap="MagazineResultMap">
		select * from magazine
	</select>
	
	<insert id="AddMagazine" parameterType="com.bupt.termdemo.model.Magazine">
		insert into magazine(name) values(#{name})
	</insert>
	
	<select id="FindMagazine" resultType="int">
		select count(*) from magazine where name = #{name}
	</select>
	
</mapper>