<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="termModule" >

	<resultMap id="TermResultMap" type="com.bupt.termdemo.model.Term" >
	    <result column="term" property="term" jdbcType="VARCHAR" />
	    <result column="origin" property="origin" jdbcType="VARCHAR" />
	    <result column="definition" property="definition" jdbcType="VARCHAR" />
	    <result column="source" property="source" jdbcType="VARCHAR" />
	    <result column="example" property="example" jdbcType="VARCHAR" />
	    <result column="term_char" property="term_char" jdbcType="VARCHAR" />
	    <result column="pronunciation" property="pronunciation" jdbcType="VARCHAR" />
	    <result column="translation" property="translation" jdbcType="VARCHAR" />
	    <result column="basis" property="basis" jdbcType="VARCHAR" />
	    <result column="status" property="status" jdbcType="VARCHAR" />
	    <result column="creator" property="creator" jdbcType="VARCHAR" />
	    <result column="create_time" property="create_time" jdbcType="VARCHAR" />
	    <result column="reviewer" property="reviewer" jdbcType="VARCHAR" />
	    <result column="review_time" property="review_time" jdbcType="VARCHAR" />
	    <result column="publisher" property="publisher" jdbcType="VARCHAR" />
	    <result column="publish_time" property="publish_time" jdbcType="VARCHAR" />
	    <result column="reject_user" property="reject_user" jdbcType="VARCHAR" />
	    <result column="reject_reason" property="reject_reason" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="GetCreateTerm" resultMap="TermResultMap">
		select * from term where creator=#{creator} and status=#{status}
	</select>
	
	<select id="GetCreateTermCount" resultType="Integer">
		select count(*) from term where creator=#{creator} and status=#{status}
	</select>
	
	<insert id="SaveTerm" parameterType="com.bupt.termdemo.model.Term">
		insert into term(term, origin, definition, source, example, term_char, pronunciation, translation, basis,
		status, creator, create_time) 
		values(#{term}, #{origin}, #{definition}, #{source}, #{example}, #{term_char}, #{pronunciation}, #{translation},
		#{basis}, #{status}, #{creator}, #{create_time})
	</insert>
	
	<select id="FindTerm" resultType="Integer">
		select count(*) from term where term = #{term}
	</select>
	
	<delete id="DeleteTerm" parameterType="String">  
        delete from term where term = #{term}  
    </delete>
    
    <update id="ModifyTerm" parameterType="com.bupt.termdemo.model.Term">  
        update term 
        set origin = #{origin},definition = #{definition},source=#{source},example=#{example},term_char=#{term_char},
        pronunciation=#{pronunciation},translation=#{translation},source=#{basis}
        where term = #{term}  
    </update>  
	
</mapper>