<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="termModule" >

	<resultMap id="TermResultMap" type="com.bupt.termdemo.model.Term" >
		<result column="termid" property="termid" jdbcType="VARCHAR" />
	    <result column="term" property="term" jdbcType="VARCHAR" />
	    <result column="origin" property="origin" jdbcType="VARCHAR" />
	    <result column="definition" property="definition" jdbcType="VARCHAR" />
	    <result column="source" property="source" jdbcType="VARCHAR" />
	    <result column="example" property="example" jdbcType="VARCHAR" />
	    <result column="term_char" property="term_char" jdbcType="VARCHAR" />
	    <result column="pronunciation" property="pronunciation" jdbcType="VARCHAR" />
	    <result column="translation" property="translation" jdbcType="VARCHAR" />
	    <result column="basis" property="basis" jdbcType="VARCHAR" />
	    <result column="status" property="status" jdbcType="VARCHAR" />
	    <result column="creator" property="creator" jdbcType="VARCHAR" />
	    <result column="create_time" property="create_time" jdbcType="VARCHAR" />
	    <result column="reviewer" property="reviewer" jdbcType="VARCHAR" />
	    <result column="review_time" property="review_time" jdbcType="VARCHAR" />
	    <result column="publisher" property="publisher" jdbcType="VARCHAR" />
	    <result column="publish_time" property="publish_time" jdbcType="VARCHAR" />
	    <result column="reject_user" property="reject_user" jdbcType="VARCHAR" />
	    <result column="reject_time" property="reject_time" jdbcType="VARCHAR" />
	    <result column="reject_reason" property="reject_reason" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="GetCreateTerm" resultMap="TermResultMap">
		select * from term where creator=#{creator} and status=#{status}
	</select>
	
	<select id="GetCreateTermCount" resultType="Integer">
		select count(*) from term where creator=#{creator} and status=#{status}
	</select>
	
	<insert id="SaveTerm" parameterType="com.bupt.termdemo.model.Term">
		insert into term(termid, term, origin, definition, source, example, term_char, pronunciation, translation, basis,
		status, creator, create_time) 
		values(#{termid}, #{term}, #{origin}, #{definition}, #{source}, #{example}, #{term_char}, #{pronunciation}, #{translation},
		#{basis}, #{status}, #{creator}, #{create_time})
	</insert>
	
	<select id="FindTerm" resultType="Integer">
		select count(*) from term where term = #{term}
	</select>
	
	<delete id="DeleteTerm" parameterType="String">  
        delete from term where term = #{term}  
    </delete>
    
    <update id="ModifyTerm" parameterType="com.bupt.termdemo.model.Term">  
        update term 
        set term = #{term},origin = #{origin},definition = #{definition},source=#{source},example=#{example},term_char=#{term_char},
        pronunciation=#{pronunciation},translation=#{translation},basis=#{basis},status=#{status},
        reviewer=#{reviewer},review_time=#{review_time},publisher=#{publisher},publish_time=#{publish_time},
        reject_user=#{reject_user},reject_time=#{reject_time},reject_reason=#{reject_reason}
        where termid = #{termid}  
    </update>  
	
	<select id="GetTermByStatus" resultMap="TermResultMap">
		select * from term where status=#{status}
	</select>
	
	<select id="GetTermByStatusCount" resultType="Integer">
		select count(*) from term where status=#{status}
	</select>
	
	<select id="GetRejectedTerm" resultMap="TermResultMap">
		select * from term where reject_user=#{reject_user} and status='2'
	</select>
	
	<select id="GetRejectedTermCount" resultType="Integer">
		select count(*) from term where reject_user=#{reject_user} and status='2'
	</select>
	
	<update id="RejectTerm" parameterType="com.bupt.termdemo.model.Term">  
        update term 
        set reject_user=#{reject_user},reject_time=#{reject_time},reject_reason=#{reject_reason},status='2'
        where term = #{term}  
    </update>  
    
    <update id="ReviewTerm" parameterType="com.bupt.termdemo.model.Term">  
        update term 
        set reviewer=#{reviewer},review_time=#{review_time},status='1'
        where term = #{term}  
    </update>  
    
    <update id="PublishTerm" parameterType="com.bupt.termdemo.model.Term">  
        update term 
        set publisher=#{publisher},publish_time=#{publish_time},status='3'
        where term = #{term}  
    </update>  
    
    <select id="GettbReviewTerm" resultMap="TermResultMap">
		select * from term where status='0' and creator!=#{username}
	</select>
	
	<select id="GettbReviewTermCount" resultType="Integer">
		select count(*) from term where status='0' and creator!=#{username}
	</select>
</mapper>