@import "../../common/functions.scss";

.header {
    background-color: #333;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;

    .title {
        display: inline-block;
        color: #ffffff;
    }

    > .ant-menu {
        border-bottom-width: 0;
        height: 100%;
        background-color: #333;

        > li {
            height: 60px;
            line-height: 60px;
        }
    }
}

.action-list {
    @include calc( 'height', '100% - 60px');
    background-color: #333;
    position: relative;
    float: left;
}

.children-block {
    @include calc( 'height', '100% - 60px');
    position: relative;
    float: left;
    overflow: scroll;
    padding: 20px;
    background-color: #d9d9d9;
    @include calc( 'width', '100% - 220px');
}
