@import "../../common/functions.scss";

.header {
    background-color: #333;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;

    .title {
        display: inline-block;
        color: #ffffff;
    }
}

.action-list {
    height: 100%;
    background-color: #333;
    display: inline-block;
    position: relative;
    float: left;
}

.children-block {
    display: inline-block;
    height: 100%;
    position: relative;
    float: left;
    margin: 20px;
    @include calc( 'width', '100% - 260px');
}
